<%- include("../layouts/users/header") %>

<div class="shop_sidebar_area">
  <!-- ##### Single Widget ##### -->
  <div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h2 class="widget-title mb-100 text-warning"><%= user.username %></h2>


    <!--  Catagories  -->
    <div class="catagories-menu">
      <ul>
        <li class="mt-30"><a href="/user-profile">Profile</a></li>
        <li class="mt-30"><a href="/user-orders">My orders</a></li>
        <li class="mt-30"><a href="/user-address">Manage address</a></li>
        <li class="mt-30"><a href="/user-wishlist">My wishlist</a></li>
        <li class="mt-30"><a href="/user-wallet">My wallet</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="profile ml-100">
  <div class="container">
    <div class="container mt-5">
      <div class="card mx-auto">
        <div class="card-header bg-warning text-white">Edit password</div>
        <div class="card-body">
          <form  onsubmit="return passwordValidation('<%= user._id %>')">
            <div class="form-group">
              <label for="password">Current password:</label>
              <p class="text-danger" id="currentPasswordError"></p>

              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  name="currentPassword"
                  placeholder="Enter your password"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-eye" id="toggleCurrentPassword"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">New password:</label>
              <p class="text-danger" id="newPasswordError"></p>

              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  placeholder="Enter your new password"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-eye" id="toggleNewPassword"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <p class="text-danger" id="confirmPasswordError "></p>

              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  placeholder="Confirm your password"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-eye" id="toggleConfirmPassword"></i>
                  </span>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-warning">
              Update password
            </button>
            <div class="mt-3">
              <a href="/user-profile">back to profile</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ##### Newsletter Area Start ##### -->
<section class="newsletter-area section-padding-100-0">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Newsletter Text -->
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="newsletter-text mb-100">
          <h2>Subscribe for a <span>25% Discount</span></h2>
          <p>
            Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit
            amet mi vulputate consectetur. Donec auctor interdum purus, ac
            finibus massa bibendum nec.
          </p>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="col-12 col-lg-6 col-xl-5">
        <div class="newsletter-form mb-100">
          <form action="#" method="post">
            <input
              type="email"
              name="email"
              class="nl-email"
              placeholder="Your E-mail"
            />
            <input type="submit" value="Subscribe" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Newsletter Area End ##### -->

<script>
  document
    .getElementById("toggleCurrentPassword")
    .addEventListener("click", function () {
      togglePasswordVisibility("currentPassword");
    });

  document
    .getElementById("toggleNewPassword")
    .addEventListener("click", function () {
      togglePasswordVisibility("newPassword");
    });

  document
    .getElementById("toggleConfirmPassword")
    .addEventListener("click", function () {
      togglePasswordVisibility("confirmPassword");
    });


  function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);
    const type =
      passwordInput.getAttribute("type") === "password" ? "text" : "password";
    passwordInput.setAttribute("type", type);
  }
</script>

<%- include("../layouts/users/footer") %>
