<%- include("../layouts/users/header") %>



<div class="products-catagories-area  ">
  <div class="amado-pro-catagory ">
        <div class="wrap-login100">
          <form
            class="login100-form validate-form p-l-55 p-r-55 p-t-178"
          >
            <span class="login100-form-title"> Forgot password? </span>

            <% if (typeof message !== "undefined" ) { %>
            <div id="message" class="text-center error m-b-16">
              <%= message %>
            </div>
            <% } %>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Please enter your email"
            >
              <input
              id="email"
                class="input100"
                type="text"
                name="email"
                placeholder="Enter your email"
              />
              <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
              <a href="#" onclick="changePassword()" class="login100-form-btn">Verify</a>
            </div>

            <div class="flex-col-c p-t-30 p-b-20">
              <span class="txt1 p-b-9"> Back to sign in? </span>

              <a href="/login" class="txt3"> Sign in </a>
            </div>

          </form>
        </div>
      </div>
    </div>
     

    <script src="/public/javascript/jquery/jquery-2.2.4.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/public/javascript/main.js"></script>
    <!--===============================================================================================-->
    <script src="/public/javascript/forgotPassword.js"></script>
    <!--===============================================================================================-->
    <%- include("../layouts/users/footer") %>

