<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/order-complete.css" />
    <title>Order Completed</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="icon-container">
          <img
            src="/public/assets/img/core-img/cart.jpg"
            alt="Checkmark Icon"
          />
        </div>
        <h1>Order Completed</h1>
        <p>
          Your order has been successfully placed. Thank you for choosing our
          services!
        </p>
        <div>
          <a href="/products-shop" class="back">Continue Shopping</a>
        </div>
      </div>
    </div>
  </body>
</html>
