<%- include("../layouts/admins/header") %>

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img
        src="/public/assets/img/core-img/logo.png"
        class="logo"
        alt="Evara Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/user-management">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/products/product-management">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/products/products-orders">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/products/category-management">
          <i class="icon material-icons md-add_box"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/products/banner-management">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text">Banners</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a href="#" class="menu-link"
          ><i class="icon material-icons md-monetization_on"></i>
          <span class="text">Offers</span>
        </a>
        <div class="submenu">
          <a href="/admin/products/product-offers">Product offer</a>
          <a href="/admin/products/category-offers">Category offer</a>
        </div>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/coupons">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Coupons</span>
        </a>
      </li>
    </ul>
    <hr />

    <br />
    <br />
  </nav>
</aside>
<main class="main-wrap">
  <section class="content-main">
    <form id="bannerForm" enctype="multipart/form-data">
      <div class="row">
        <div class="col-6">
          <div class="content-header">
            <h2 class="content-title">Add New Banner</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <h6>1. General info</h6>
                </div>
                <div class="col-md-9">
                  <div class="mb-4">
                    <label class="form-label">Banner title</label>
                    <input
                      name="bannerName"
                      type="text"
                      placeholder="Type here"
                      id="bannerName"
                      class="form-control"
                    />
                    <p class="text-danger" id="bannerNameError"></p>
                  </div>
                  <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea
                      name="description"
                      placeholder="Type here"
                      id="description"
                      class="form-control"
                      rows="4"
                    ></textarea>
                    <p class="text-danger" id="descriptionError"></p>
                  </div>
                </div>
                <!-- col.// -->
              </div>
              <!-- row.// -->
              <hr class="mb-4 mt-0" />

              <hr class="mb-4 mt-0" />
              <div class="row">
                <div class="col-md-3">
                  <h6>2. Offered Category</h6>
                </div>
                <div class="col-md-9">
                  <div class="mb-4">
                    <% for( let i = 0; i < category.length; i++ ) { %>
                    <label
                      class="mb-2 form-check form-check-inline"
                      style="width: 45%"
                    >
                      <input
                        id="category"
                        class="form-check-input"
                        name="myCategory"
                        type="radio"
                        value="<%= category[i]._id %>"
                      />
                      <span class="form-check-label"
                        ><%= category[i].categoryName %>
                      </span>
                    </label>
                    <% } %>
                    <p class="text-danger" id="categoryError"></p>
                  </div>
                </div>
                <!-- col.// -->
              </div>
              <!-- row.// -->
              <hr class="mb-4 mt-0" />
              <div class="row">
                <div class="col-md-3">
                  <h6>3. Media</h6>
                </div>
                <div class="col-md-9">
                  <div class="mb-4">
                    <label class="form-label">Images</label>
                    <input
                      class="form-control"
                      type="file"
                      name="images"
                      id="imageInput"
                    />
                    <p class="text-danger" id="imageError"></p>
                  </div>
                </div>
                <!-- col.// -->
              </div>
              <!-- .row end// -->

              <div class="row">
                <div class="col-md-3">
                  <h6>4. Offer percentage</h6>
                </div>
                <div class="col-md-12">
                  <div class="mb-4">
                    <input
                      name="offerPercentage"
                      type="number"
                      placeholder="0"
                      id="offerPercentage"
                      class="form-control"
                    />
                    <p class="text-danger" id="offerPercentageError"></p>
                  </div>
                  <div class="text-center mt-9">
                    <button
                      type="button"
                      class="btn btn-md rounded font-sm hover-up"
                      onclick="submitBannerForm(event)"
                    >
                      Add Banner
                    </button>
                  </div>
                </div>
                <!-- col.// -->
              </div>
              <!-- row.// -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- content-main end// -->

  <%- include("../layouts/admins/footer") %>
</main>
