<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, ABC - Furnitures .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="/public/javascript/vendors/bootstrap.bundle.min.js"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/3bd203701d.js" crossorigin="anonymous"></script>

<!-- Other scripts -->
<script src="/public/javascript/vendors/select2.min.js"></script>
<script src="/public/javascript/vendors/perfect-scrollbar.js"></script>
<script src="/public/javascript/vendors/jquery.fullscreen.min.js"></script>
<script src="/public/javascript/vendors/chart.js"></script>
<script src="/public/javascript/vendors/blockUser.js"></script>
<script src="/public/javascript/admin-main.js" type="text/javascript"></script>
<script src="/public/javascript/custom-chart.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/public/javascript/offersAdmin.js"></script>
<script src="/public/javascript/alertsAndUpdates.js" type="text/javascript"></script>
<script src="/public/javascript/chart.js" type="text/javascript"></script>
<script src="/public/javascript/image-edit.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/public/javascript/adminCouponManagement.js" type="text/javascript"></script>
<script src="/public/javascript/banner.js" type="text/javascript"></script>
<script src="/public/javascript/admin-validation.js" type="text/javascript"></script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>