
 <!-- ##### Newsletter Area Start ##### -->
 <section class="newsletter-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- Newsletter Text -->
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="newsletter-text mb-100">
            <h2>Subscribe for a <span>25% Discount</span></h2>
            <p>
              Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit
              amet mi vulputate consectetur. Donec auctor interdum purus, ac
              finibus massa bibendum nec.
            </p>
          </div>
        </div>
        <!-- Newsletter Form -->
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="newsletter-form mb-100">
            <form action="#" method="post">
              <input
                type="email"
                name="email"
                class="nl-email"
                placeholder="Your E-mail"
              />
              <input type="submit" value="Subscribe" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer class="footer_area clearfix footer">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="/public/assets/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> & Re-distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
    <!-- ##### Footer Area End ##### -->


    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/public/javascript/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/public/javascript/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/public/javascript/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/public/javascript/plugins.js"></script>
    <!-- Active js -->
    <script src="/public/javascript/active.js"></script>
    <!-- add to cart -->
    <script src="/public/javascript/addToCart.js"></script>
    <!-- resend otp  -->
    <script src="/public/javascript/otpTimeout.js"></script>
    <!-- sign up  -->
    <script src="/public/javascript/signup.js"></script>
    <!-- alert delete cart  -->
    <script src="/public/javascript/userMain.js"></script>
    <!-- validation  -->
    <script src="/public/javascript/user-validation.js"></script>
    <!-- Product detail page  -->
    <script src="/public/javascript/productDetail.js"></script>
    <!-- coupon javascript  -->
    <script src="/public/javascript/applyCoupon.js"></script>
    <!-- sort products javascript  -->
    <script src="/public/javascript/sortProducts.js"></script>
    
    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- font font-awesome -->
    <script src="https://kit.fontawesome.com/3bd203701d.js" crossorigin="anonymous"></script>
    <!-- toaster message js  -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="/public/javascript/vendors/bootstrap.bundle.min.js"></script>
   


</body>

</html>